[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dagster = "*"
dagit = "*"
pandas = "*"
httpx = "*"
dagster-pandas = "*"

[dev-packages]
pytest = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
